.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f5f6fa;
}

.titulo {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2f3640;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 10, 0, 0, 4);
}

.button {
    -fx-background-color: #4078ff;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #315fd4;
}

.text-field, .combo-box {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #dcdde1;
}

.list-view {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}