.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f5f6fa;
}

/* DARK MODE BASE */
.root.dark {
    -fx-background-color: #0f172a;
}

/* TITULO */
.titulo {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2f3640;
}

.root.dark .titulo {
    -fx-text-fill: white;
}

/* CARD */
.card {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.root.dark .card {
    -fx-background-color: #1e293b;
}

/* BOTÃO */
.button {
    -fx-background-color: #4078ff;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #315fd4;
}

/* INPUT */
.text-field {
    -fx-background-radius: 8;
}

.root.dark .text-field {
    -fx-background-color: #1e293b;
    -fx-text-fill: white;
}

/* SIDEBAR */
.sidebar {
    -fx-background-color: #0f172a;
    -fx-pref-width: 230;
}

/* MENU */
.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: #94a3b8;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 12 16;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #1e293b;
    -fx-text-fill: white;
}

.menu-button.active {
    -fx-background-color: #1e293b;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: #3b82f6;
    -fx-border-width: 0 0 0 4;
}

/* ÍCONES */
.menu-button .image-view {
    -fx-opacity: 1;
}

.menu-button:hover .image-view,
.menu-button.active .image-view {
    -fx-opacity: 1;
}

/* DARK BUTTON */
.dark-button {
    -fx-background-color: transparent;
}

.dark-button:hover {
    -fx-background-color: #1e293b;
}

/* TOGGLE */
.toggle-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}